body {
//    color: black;
//    font-size: 16px;
//    margin: 0px auto 0px auto;
//    width: 600px;
}

#header {
    margin-top: 25px;
    margin-bottom: 20px;
}

#logo {
    margin-right: 20px;
    white-space: nowrap;
}

@media (min-width: 550px) {
    .two.columns {
        width: 16.66%;
    }
    .column, .columns {
        margin-left: 0px;
    }
}

@media (min-width: 760px) {
    .site-head {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    #navigation {
        margin-top: 10px
    }
}

.section-head {
    display: flex;
    align-items: center;
}

div#line {
    flex-grow: 1;
    margin-right: 25px;
}

div#line hr {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#header hr {
    //border-bottom: 2px solid black;
    margin-top: 1rem;
    // padding: 12px 0px 12px 0px;
}

#logo h1 {
    font-size: 6rem;
    margin-bottom: 0px;
}

div#logo a {
    color: inherit;
    //float: left;
    //font-size: 18px;
    text-decoration: none;
    //font-weight: bold;
}

div.section {
    margin-bottom: 20px;
}

div#navigation a {
    //color: #222;
    opacity: 0.8;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: lowercase;
}

div#music ul, div#games ul {
    list-style: none;
    margin: 0;
}

p.caption {
    text-align: center;
    color: gray;
}

div#footer {
    //border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    //margin-top: 30px;
    //padding: 12px 0px 12px 0px;
    text-align: center;
}

div#footer hr {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

/*
h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}*/

div.section h3 {
    text-align: right;
    margin: 0;
    margin-bottom: 5px;
}

.info h2 {
    text-align: right;
}

.date {
    color: #999;
    font-style: italic;
    text-align: right;
}

#content div.figure img {
    margin: auto;
    display: block;
}

span#last-letter {
    display: inline-block;
    transform: translateY(.18em);
}
